{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

<div class="page-wrapper">
<div class="content container-fluid">
    {% if messages %}
    <div class="alert alert-info">
       {% for message in messages %}
          <p>{{ message }}</p>
       {% endfor %}
    </div>
    {% endif %}

<h3 class="page-title">Add Exam</h3>

<div class="card">
<div class="card-body">

<form method="POST">
{% csrf_token %}

<label for="name">Exam Name</label>
<input class="form-control mb-3" name="name" placeholder="Exam Name" required>
<label for="subject">Subject</label>
<select class="form-control" name="subject_id" required>
    <option value="">Select Subject</option>
    {% for subject in subjects_list %}
    <option value="{{subject.id}}">{{subject.name}}</option>
    {% endfor %}
</select>

<label for="exam_date">Date</label>
<input type="date" class="form-control mb-3" name="exam_date" required>
<label for="start_time">Start Time</label>
<input type="time" class="form-control mb-3" name="start_time" required>
<label for="end_time">End Time</label>
<input type="time" class="form-control mb-3" name="end_time" required>

<label for="teacher">Teacher Name</label>
<input type="text" value="{{ request.user.teacher.first_name }} {{request.user.teacher.last_name}}" readonly class="form-control mb-3" name="teacher_name">
<input type="hidden" value="{{ request.user.teacher.id}}" class="form-control mb-3" name="teacher_id">
<input type="hidden" value="{{ request.user.teacher.departement.id}}" class="form-control mb-3" name="departement_id">




<button class="btn btn-primary">Save</button>

</form>

</div>
</div>

</div>
</div>
    <script src="{%static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{%static 'assets/js/popper.min.js' %}"></script>
    <script src="{%static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{%static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{%static 'assets/plugins/datatables/datatables.min.js' %}"></script>
    <script src="{%static 'assets/js/script.js' %}"></script>
    
{% endblock %}